.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.oth-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.row.flex-nowrap {
    flex-wrap: nowrap;
    overflow-x: auto; /* Allows horizontal scrolling on small screens */
}

.col-2, .col-7, .col-3 {
    transition: all 0.3s ease; /* Smooth transition when resizing */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .col-2 {
        flex: 0 0 50px; /* Shrink sidebar on smaller screens */
    }

    .col-7 {
        flex: 1 1 auto; /* Allow main content to take remaining space */
    }

    .col-3 {
        flex: 0 0 100%; /* Stack recommendations below on smaller screens */
        margin-top: 20px;
    }

    .ch-right {
        width: 100%; /* Full width for recommendation cards */
    }

    .txt4 {
        margin-left: 0; /* Remove left margin for smaller screens */
    }
}
.txt4 {
    margin-left: 1.5rem;
}

.card {
    width: 100%;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

    .card:hover {
        transform: scale(1.05);
    }

.challenge-image {
    max-width: 100%;
    border-radius: 4px;
}

.wrr {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
.pdd {
    margin-top: 50px;
}
