@page
@model Challenges.WebApp.Pages.Dashboards.DashboardAdminModel
@{
}
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <h2>Dashboard</h2>
        </div>
        <div class="user--info">
            <div class="search--box">
                <i class="fa-solid fa-search"></i>
            </div>
            <img src="~/images/cub.png" width="200px" height="100" />

        </div>
    </div>
    <div class="card--container">
        <h3 class="main--title">Statistics</h3>
        <div class="card--wrapper">
            <div class="payment--card">
                <div class="card--header">
                    <div class="amount">
                        <span class="title">
                            Registered Users
                        </span>
                        <span class="amount-value"> @Model.UserRegistrations</span>
                    </div>
                    <i class="fas fa-dollar-sign icon"></i>
                </div>
            </div>
            <div class="payment--card">
                <div class="card--header">
                    <div class="amount">
                        <span class="title">
                            Started Challenges
                        </span>
                        <span class="amount-value"> @Model.StartedChallenges</span>
                    </div>
                    <i class="fas fa-dollar-sign icon"></i>
                </div>
            </div>
            <div class="payment--card">
                <div class="card--header">
                    <div class="amount">
                        <span class="title">
                            Finished Challenges
                        </span>
                        <span class="amount-value"> @Model.FinishedChallenges</span>
                    </div>
                    <i class="fas fa-dollar-sign icon"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="tabular-wrapper">
        <h3 class="main--title">Activities</h3>
        <div class="table-container">
            <div class="activity-data">
                <table>
                    <tbody>
                        @foreach (var activity in Model.Activities)
                        {
                            <tr>
                                <td>@activity</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>