@page
@model Challenges.WebApp.Pages.Categorii.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="other_pages">

<h1>Categorii</h1>

<p>
    <a asp-page="Create">Creaza Noua Categorie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie[0].Nume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categorie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editare</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
