@page
@model Challenges.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container2">
    <div class="text">
        <h1>Challenge <br />Yourself To<br /> Be Better</h1>
        <br />
        <p>
            "We can have more than we've got because <br />
            we can become more than we are" - Jim Rohn
        </p>

        <a class="btn btn-primary cta" asp-area="Identity" asp-page="/Account/Register">Start Now</a>

    </div>
</div>

<div class="text d-flex">
    <div class="imgs">
        <img src="~/images/diversity.png" width="100px" height="100px" />
    </div>
    <div class="text2">
        <h3>Variety and Diversity</h3>
        <p>
            Discover a wide range of challenges in fields such as mental health,
            fitness, and personal development.
        </p>
    </div>
</div>
<div class="text d-flex">
    <div class="imgs">
        <img src="~/images/challenge (1).png" width="100px" height="100px" />
    </div>
    <div class="text2">
        <h3>Gradual Growth</h3>
        <p>
            Set realistic goals and progress gradually,
            ensuring sustainable long-term development.
        </p>
    </div>
</div>
<div class="text d-flex">

    <div class="imgs">
        <img src="~/images/repeat (1).png" width="100px" height="100px" />
    </div>
    <div class="text2">
        <h3>Healthy Routines</h3>
        <p>
            Our challenges help you form positive habits.
            Whether it's about health, fitness, or <br />personal development,
            you'll find challenges that support you in daily life.
        </p>
    </div>
</div>
<div class="text d-flex">
    <div class="imgs">
        <img src="~/images/route.png" width="100px" height="100px" />
    </div>
    <div class="text2">
        <h3>Measuring Progress</h3>
        <p>
            Setting concrete goals helps you monitor your
            progress over time.
        </p>
    </div>
</div>