@page
@model Challenges.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container2">
    <div class="text">
        <h1>Challenge <br />Yourself To<br /> Be Better</h1>
        <br />
        <p>
            "We can have more than we've got because <br />
            we can become more than we are" - Jim Rohn
        </p>

        <a class="btn btn-primary cta" asp-area="Identity" asp-page="/Account/Register">Start Now</a>

    </div>
</div>

<div class="text d-flex">
    <div class="imgs">
        <img src="~/images/diversity.png" width="100px" height="100px" />
    </div>
    <div class="text2">
        <h3>Varietate și Diversitate</h3>
        <p>
            Descoperă o gamă largă de provocări în domenii precum sănătatea mintală,
            fitness și dezvoltare personală.
        </p>
    </div>
</div>
<div class="text d-flex">
    <div class="imgs">
        <img src="~/images/challenge (1).png" width="100px" height="100px" />
    </div>
    <div class="text2">
        <h3>Creștere Graduală</h3>
        <p>
            Stabilește-ți obiective realiste și progresează treptat,
            asigurând o dezvoltare sustenabilă pe termen lung.
        </p>
    </div>
</div>
<div class="text d-flex">

    <div class="imgs">
        <img src="~/images/repeat (1).png" width="100px" height="100px" />
    </div>
    <div class="text2">
        <h3>Rutine Sănătoase</h3>
        <p>
            Provocările noastre te ajută să formezi obiceiuri pozitive.
            Indiferent dacă e vorba de sănătate, fitness sau <br/>dezvoltare personală,
            vei găsi provocări care să te susțină în viața de zi cu zi.
        </p>
    </div>
</div>
<div class="text d-flex">
    <div class="imgs">
        <img src="~/images/route.png" width="100px" height="100px" />
    </div>
    <div class="text2">
        <h3>Măsurarea Progresului</h3>
        <p>
            Stabilirea unor obiective concrete te ajuta sa iti
            monitorizezi progresul in timp.
        </p>
    </div>
</div>