body {
    background-image: linear-gradient(to bottom, rgba(56,40,38,0.22), rgba(254,249,255,0.55)), url('../images/cub.png') !important;
    width: 100%;
    height: 500px;
    background-size: cover;
    color: white;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}
/*css pentru pag specifica de provocare imagine-text*/
.imgss {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 50px;
}

.imgss img {
        max-width: 100%;
        float: left;
        border-radius: 10px;
        border: 5px solid white;
        margin-right: 20px;
}

.ch-cont {
    margin-left: 60px;
    margin-right: 60px;
    width: 90%;
}

.wrap-2sd {
    background-image: linear-gradient(to bottom, rgba(56,40,38,0.22), rgba(254,249,255,0.55));
    width: 100%;
    height: 500px;
    background-size: cover;
    color: white;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 0;
}

.txtt {
    font-size: 15px;
}
/*.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}*/

.title-ch {
    margin: 50px 0 0 130px;
    max-width: 60%;
}

.main--content {
    position: relative;
    background: #2b2b2b;
    width: 100%;
    padding: 1rem;
}

.header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #222;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}

.header--title {
    color: rgba(255, 255, 255, 0.6);
}

.card--container {
    background: #222;
    padding: 0.1rem;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card--wrapper {
    flex-wrap: wrap;
    gap: 1rem;
}
