@page
@model Challenges.WebApp.Pages.Realizari.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="other_pages">

<h1>Edit</h1>

<h4>Realizare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Realizare.Id" />
            <div class="form-group">
                <label asp-for="Realizare.NumeRealizare" class="control-label"></label>
                <input asp-for="Realizare.NumeRealizare" class="form-control" />
                <span asp-validation-for="Realizare.NumeRealizare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Realizare.Descriere" class="control-label"></label>
                <input asp-for="Realizare.Descriere" class="form-control" />
                <span asp-validation-for="Realizare.Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
